{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    <link rel="icon" href="{% static 'icon.png' %}">
    <title>AdaObat</title>
</head>
<body>
    <nav>
        <a href="/">AdaObat</a>
        <a href="/input/">cari obat</a>
        <a href="/tentang/">tentang kami</a>
    </nav>

    <img src="{% static 'atas.svg' %}" alt="asset" class="atas">
    <img src="{% static 'bawah.svg' %}" alt="asset" class="bawah">

    <div class="row kotak">
        <div class="col">
            <div class="judul">
                <h1>ADA<br>OBAT</h1>
                <p>Kamu ada gejala, kami ada obatnya.</p>
                <a href="/input/">Cari Obat</a>
            </div>
        </div>
    
        <div class="obat col">
            <img src="{% static 'obat.svg' %}" alt="obat">
        </div>
    </div>

</body>
</html>