{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="icon" href="{% static 'icon.png' %}">
    <title>AdaObat</title>
</head>
<body>
    <nav>
        <a href="/">AdaObat</a>
        <a href="/input/">cari obat</a>
        <a href="/tentang/">tentang kami</a>
    </nav>

    <img src="{% static 'tengah.svg' %}" alt="asset" class="tengah">

    <div class="kotak center">
        <h1 class="judulinput">ADA OBAT</h1>
        <p class="text">Apa gejala yang kamu rasakan?</p>

        <form action="" method="POST">
            {% csrf_token %}
            <div class="symptoms">
                <div class="pilihan">
                    <select name="symptom1">
                        {% for sym in symptoms %}
                            <option value="{{sym.kode_gejala}}">{{sym.nama_indo}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="pilihan">
                    <select name="symptom2">
                        {% for sym in symptoms %}
                            <option value="{{sym.kode_gejala}}">{{sym.nama_indo}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <a href="#" class="add_symptom button_gejala">Tambah Gejala</a>
            <input type="submit" value="Cari Obat" class="submit">
        </form>
    </div>

    <script>
        $(document).ready(function(){
            var number = 2;
            var i = 2;
            $('.add_symptom').click(function(e){
                if (number < 5) {
                    if (number == 1) {
                        $('.remove_symptom').removeClass('disabled');
                    }
                    number += 1;
                    i += 1;
                    var dropdown = `<div class="pilihan animated">
                                        <select name="symptom` + i + `">
                                            {% for sym in symptoms %}
                                                <option value="{{sym.kode_gejala}}">{{sym.nama_indo}}</option>
                                            {% endfor %}
                                        </select>
                                        <a href="#" class="hapus">Hapus</a>
                                    </div>`;
                    $('.symptoms').append(dropdown);
                    if (number == 5) {
                        $('.add_symptom').addClass('disabled');
                    }
                }
            });
            $('.symptoms').on('click', '.hapus', function() {
                if (number == 5) {
                    $('.add_symptom').removeClass('disabled');
                }
                $(this).parent().remove();
                number -= 1;
            });
        });
    </script>

</body>
</html>