{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="icon" href="{% static 'icon.png' %}">
    <title>AdaObat</title>
</head>
<body>
    <nav>
        <a href="/">AdaObat</a>
        <a href="/input/">cari obat</a>
        <a href="/tentang/">tentang kami</a>
    </nav>

    <img src="{% static 'kiri.svg' %}" alt="asset" class="kiri">

    <div class="kotak center">
        <h1 class="judulinput">ADA OBAT</h1>

        <p class="text">Berdasarkan gejala yang kamu alami, kemungkinan penyakit yang kamu derita adalah {{penyakit}}.<br></p>

        {% if obats %}
            <p class="text">Daftar obat yang kami rekomendasikan:</p>
        {% endif %}

        {% for obat in obats %}
            <div class="daftar">
                <button class="accordion">{{obat.nama_obat}}</button>
                <div class="panel">
                    <p>{{obat.deskripsi}}</p>
                </div>
            </div>
        {% endfor %}

        <a href="/" class="cari">Cari Obat Lagi</a>
    </div>

    <script>
        var acc = document.getElementsByClassName("accordion");

        for (var i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("clicked");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            } 
        });
        }
    </script>
</body>
</html>