{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    <link rel="icon" href="{% static 'icon.png' %}">
    <title>AdaObat</title>
</head>
<body>
    <nav>
        <a href="/">AdaObat</a>
        <a href="/input/">cari obat</a>
        <a href="/tentang/">tentang kami</a>
    </nav>


    <div class="center kotak">
        <h1 class="judulinput coba">Tentang Kami</h1>
        <p class="tentangkami">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, quisquam pariatur! Ex a aperiam itaque totam libero corrupti porro quam fuga expedita rerum labore natus sunt accusantium at, voluptatem quas? </p>
    </div>

</body>
</html>