body {
    background-color: #D7E3E2;
    font-family: 'big_john_proregular', sans-serif;
}

nav {
    position: absolute;
    right: 5vw;
    top: 0%;
    font-size: large;
    margin-top: 0.2em;
    /* transform: rotate(90deg); */
}

nav a {
    margin-right: 1em; 
    color: #333333;
}

nav a:hover {
    color: #333;
    text-decoration: underline;
    text-decoration-color: #69B9A8;
}

.judul {
    text-align: right;
}

h1 {
    font-family: 'big_john_probold', sans-serif;
    font-weight: bold;
    color: #69B9A8;
    font-size: 9vh;
}

.judul p {
    color: #333;
    font-size: 2.5vh;
}

.judul a {
    font-family: 'big_john_probold', sans-serif;
    border-radius: 50px;
    background-color: #FFF1E5;
    padding: 0.7em 2em;
    color: #4F8E81;
    font-weight: bold;
}

.judul a:hover {
    text-decoration: none;
    background-color: #4F8E81;
    color: #FFF1E5;
}

.atas {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 25vw;
    overflow: hidden;
}

.bawah {
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 25vw;
    overflow: hidden;
}

.kotak {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    border: 6px solid #FFF1E5;
    box-sizing: border-box;
    border-radius: 5px;
    padding-top: 20vh;
}

.obat img {
    margin-top: -5vh;
}

.tengah {
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.center {
    text-align: center;
}

.pilihan {
    text-align: left;
    background-color: #FFF1E5;
    border-radius: 20px;
    width: 40%;
    margin: auto;
    margin-bottom: 1vh;
    padding: 1em 0;
}

.pilihan select {
    width: 70%;
    text-align: center;
    color: #333;
    border: none;
    background: none;
    border-bottom: 1px solid #333;
    margin-left: 0.5em;
}

.button_gejala {
    font-family: 'big_john_probold', sans-serif;
    border: 1px solid #69B9A8;
    /* border-radius: 15px; */
    background: none;
    color: #69B9A8;
    padding: 1px;
    text-decoration: none;
    font-weight: bold;
    padding: 0.85em 3em;
    margin-right: 1em;
}

.button_gejala:hover {
    text-decoration: none;
    color: #69B9A8;
}

.hapus {
    width: 100%;
    color: #333333;
    margin-right: 1em;
    margin-left: auto;
    border: 1px solid #333333;
    border-radius: 15px;
    padding: 0.3em 1em;
}

.hapus:hover {
    text-decoration: none;
    color: #333;
    background-color: white;
    border: none;
}

.submit {
    font-family: 'big_john_probold', sans-serif;
    border: 1px solid #69B9A8;
    /* border-radius: 15px; */
    /* background-color: #2053BD; */
    background: none;
    color: #69B9A8;
    padding: 1px;
    text-decoration: none;
    font-weight: bold;
    padding: 0.7em 3em;
    box-shadow: inset 0px 0px 0px #69B9A8;
    transition: all 1s;
}

.submit:hover {
    text-decoration: none;
    color: white;
    box-shadow: inset 500px 0px 0px #69B9A8;
}

.disabled {
    background-color: lightgrey;
    border: none;
    color: white;
}

.disabled:hover {
    text-decoration: none;
    color: white;
}

.animated {
    animation: 1s ease-out 0s 1 slideIn;
}

@keyframes slideIn {
    0% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(0%);
    }
}

.judulinput {
    margin-top: -4%;
}

.text {
    font-size: 2.5vh;
    width: 40vw;
    margin: auto;
    margin-bottom: 1em;
}

.tentangkami {
    text-align: justify;
    font-size: 2.5vh;
    margin: auto;
    width: 60vw;
}

.daftar {
    border: 1px solid #69B9A8;
    width: 40vw;
    margin: auto;
    margin-bottom: 1em;
}

.accordion {
    border: none;
    cursor: pointer;
    margin-bottom: 0%;
    width: 40vw;
    text-align: left;
    background: none;
    font-size: large;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

button.accordion::after {
    content: '\002B';
    float: right;
    margin-right: 0.5em;
}

button.accordion.clicked::after {
    content: '\2212';
}

.panel {
    margin: auto;
    margin-top: 0%;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: #333333;
    text-align: left;
    font-weight: normal;
    padding-left: 0.4em;
}

.cari {
    font-family: 'big_john_probold';
    border: 1px solid #4F8E81;
    background: none;
    color: #4F8E81;
    padding: 1px;
    text-decoration: none;
    font-weight: bold;
    padding: 0.7em 3em;
    box-shadow: inset 0px 0px 0px #4F8E81;
    transition: all 1s;
    margin-top: 3em;
}

.cari:hover {
    text-decoration: none;
    color: white;
    box-shadow: inset 500px 0px 0px #4F8E81;
}

.kiri {
    position: fixed;
    bottom: 0;
    left: 0;
}
